<footer class="footer">
    <div class="container">

        <p class="text-center">
            {{ site.title }} {{ site.time | date: '%Y' }} |
            Powered by <a href="http://blog.h928.com" target="_blank">spring</a>
            官方交流群：397372948
            <script src="https://s13.cnzz.com/z_stat.php?id=1271530560&web_id=1271530560" language="JavaScript"></script>
            <a href="https://beian.miit.gov.cn/" target="_blank">渝ICP备2024032785号-1</a>
        </p>
        <!-- <p class="text-muted">Place sticky footer content here.</p> -->
    </div>
</footer>
